$container-width: 1000px;

//colors
$white: #fff;
$green: #668333;
$gray: #5f5f5f;

//layout
@import "layout/adjustment";
@import "layout/fonts";

//sections
@import "sections/header";
@import "sections/about";
@import "sections/media";
@import "sections/events";
@import "sections/shop";
@import "sections/adaptive-menu";
@import "sections/scroll-btn";
@import "sections/footer";

//media
@import "media/tv";
@import "media/desktop";
@import "media/laptop";
@import "media/tablets";
@import "media/phones";