.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	padding: 20px 10px;
	z-index: 10;
	color: #000;

	.logo {
		margin-left: 0;
	}

	.nav__list {
		flex-direction: column;
		align-items: center;
	}

	.nav__item {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.nav__link {
		font-size: 26px;
	}
}

.popup {
	display: none;
	transition: .3s;
}

.menu__top {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.menu__close {
	display: block;
	font-size: 26px;
	color: #000;
	opacity: .6;
	transition: .3s;

	&:hover {
		opacity: 1;
	}
}

