.footer {
	background-color: #525252;
	padding: 33px 0;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
	border-bottom: 1px solid #6b6b6a;
}

.footer__title {
	text-transform: uppercase;
	font-size: 20px;
	color: #f3eeea;
	margin-bottom: 25px;
}

.footer__sign-link {
	text-decoration: none;
	text-transform: uppercase;
	color: #f3eeea;
	font-size: 18px;
	display: block;
	height: 37px;
	width: 274px;
	border-radius: 5px;
	background-color: #4999af;
	text-align: center;
	padding-top: 5px;
	transition: .3s;

	&:hover {
		background-color: #078baf;
	}
}

.footer__top-right {
	display: flex;
	justify-content: space-between;
	width: 630px;
}

.footer__service-time {
	font-weight: 600;
	font-size: 20px;
	color: #f3eeea;
}

.footer__service-text {
	font-size: 12px;
	color: #b3b3b3;
}

.footer__socials {
	margin-right: 56px;
}

.footer__socials-list {
	display: flex;
}

.footer__socials-item {
	margin-right: 8px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	transition: .3s;

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		background-color: #fff;
		box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
	}
}

.footer__socials-link {
	display: block;
	width: 100%;
	height: 100%;
}

@each $footer__socials-item in (facebook, twitter, youtube, paypal, email) {
 .footer__socials-item_#{$footer__socials-item} {
  	background-image: url("../img/icons/#{$footer__socials-item}.png");
  }
}

.footer__bottom {
	margin-top: 15px;
}

.copyright {
	font-size: 12px;
	color: #b3b3b3;
}

.footer__privacy-link,
.footer__share-link {
	text-decoration: none;
	color: #b3b3b3;
	transition: .3s;

	&:hover {
		color: #fff;
	}
}





